<div class="card flex justify-content-center">
    <p-card header="Cadastro de Pessoas">

        <div class="card flex justify-content-center">
            <h1>Digite seu nome:</h1>
            <input type="text" pInputText [(ngModel)]="nome" />
        </div>

        <div class="card flex justify-content-center">
            <h1>Digite seu CPF:</h1>
            <input type="text" pInputText [(ngModel)]="cpf" />
        </div>

        <div class="card flex justify-content-center">
            <h1>Digite seu email:</h1>
            <input type="text" pInputText [(ngModel)]="email" />
        </div>

        <div class="card flex justify-content-center">
            <h1>Digite seu telefone:</h1>
            <input type="text" pInputText [(ngModel)]="telefone" />
        </div>
    </p-card>
</div>